header{ background-image: url(file:///C:/Users/Giuseppe/Desktop/wdp11/html-london-trip/img/logo.svg); background-size: 100px 200px; background-repeat: no-repeat; background-position: 10% 25%; background-color: blue; }
.misure{ width: auto; height: 120px; }
 